includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/
        - database/

    # Level 0 is the loosest and level 9 is the strictest
    # Start with level 5 for a good balance
    level: 5

    ignoreErrors:

    excludePaths:
        - database/migrations/*
